html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  color: white;
}

.container {
  display: block;
  margin: 0 auto;
  height: 200vh;
  max-width: 500px;
}

.app {
  background: url(images/table.png);
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

button {
  background: yellow;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
}

#new-deck {
  margin-left: 0;
}

.draw {
  padding: 5px 8px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  height: 140px;
  width: calc(140px * 5 / 7);
  margin: 0 auto;
}

.card-slot:nth-of-type(1) {
  margin-bottom: 40px;
}

img.drawn-card {
  width: 100%;
  height: 100%;
}
