html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  color: white;
  background: #a8ae7b;
}

.container {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  height: 100vh;
  max-width: 650px;
}

.app {
  background: url(images/table.png);
  background-repeat: no-repeat;
  border: 1px solid #017938;
  border-radius: 5px;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.game-top {
  display: flex;
  flex-direction: row;
}

#remaining {
  margin-left: 20px;
}

button {
  background: yellow;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
}

#new-deck {
  margin-left: 0;
  padding: 0.7em 1em;
}

.draw {
  padding: 0.7em 1em;
  display: block;
  margin: 10px auto 30px;
}

button:disabled {
  cursor: not-allowed;
}

h2,
h3 {
  text-align: center;
}

.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  height: 140px;
  width: calc(140px * 5 / 7);
  margin: 0 auto;
}

.card-slot:nth-of-type(1) {
  margin-bottom: 40px;
}

img.drawn-card {
  width: 100%;
  height: 100%;
}

footer p {
  text-align: center;
  color: black;
  margin: 0;
  opacity: 0.8;
}

footer a {
  color: #017938;
  text-decoration: none;
}

footer a:hover,
a:focus {
  text-decoration: underline;
}
